.input-style{
    border-radius: 4px;
    /* padding-top:12px;  */
    /* padding-bottom:12px;  */
    /* border-color:rgb(51, 54, 57); */
    width:18rem;
  }

  .button-style{
    /* margin-bottom:12px; */
    margin-top:12px;
    height:40px;
    width:40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:blue;
    color: black;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
    &:hover {
      color: rgb(29, 155, 240); /* Change 'your_desired_hover_color' to the desired hover color */
    }
  }


  .otp-button-style{
    /* margin-bottom:12px; */
    margin-top:12px;
    height:40px;
    width:20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:blue;
    color: black;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .ant-form-item-label{
    padding: 0px;
  }

  .ant-form-item{
    margin:'0px'
  }